<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


 -->
 <table class="table table-bordered">  
 <tr>  
   <td>First Name</td>  
   <td>{{firstName}}</td>  
 </tr>  
 <tr>  
   <td>Last Name</td>  
   <td>{{lastName}}</td>  
 </tr>  
 <tr>  
   <td>Age</td>  
   <td>{{age}}</td>  
 </tr>  
 <tr>  
   <td>Position</td>  
   <td>{{position}}</td>  
 </tr>  
 <tr>  
   <td>Office</td>  
   <td>{{office}}</td>  
 </tr>  
 <tr>  
   <td>Salary</td>  
   <td>{{salary}}</td>  
 </tr>  
</table>  




<!-- 


<div style="text-align:center">
  <h1>Hello Angular</h1>
</div>
 -->











<!-- 
<div class="container">
  <h3 class="text-uppercase text-center">Two Way data binding in angular</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" [(ngModel)]="firstName" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" [(ngModel)]="lastName" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Position:</label>
        <input type="text" class="form-control" [(ngModel)]="position" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Salary:</label>
        <input type="number" class="form-control" [(ngModel)]="salary" />
      </div>
    </div>
  </div>
  <p>
    First Name:<strong class="text-uppercase">{{ firstName }}</strong>
  </p>
  <p>
    Last Name:<strong class="text-uppercase">{{ lastName }}</strong>
  </p>
  <p>
    Position:<strong class="text-uppercase">{{ position }}</strong>
  </p>
  <p>
    Salary:<strong class="text-uppercase">{{ salary }}</strong>
  </p>
</div> -->
